<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ListItemTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BA0B28271BF2CBBE0041BB5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0B28401BF2CBBE0041BB5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BA0B284B1BF2CBBE0041BB5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
